.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modalBody {
  background-color: white;
  margin: 10% auto;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  width: min(75%, 40rem);
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  animation-name: appear;
  animation-duration: 600ms;
}

.modal img {
  height: 12rem;
}

@keyframes appear {
  from {
    top: -15rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modalBody h3 {
  color: var(--blue);
  font-size: 1.4rem;
  margin: 0;
}

.modalBody p {
  color: var(--text);
  font-size: 1rem;
}

.startBtn {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--blue);
  color: white;
}

.startBtn:hover {
  opacity: 0.9;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  .modalBody {
    flex-direction: column;
    text-align: center;
  }

  .modalBody h3 {
    font-size: 1.2rem;
  }

  .modalBody p {
    font-size: 0.75rem;
  }
}
