.sidebar {
  background-color: var(--blue);
  color: white;
  width: 8rem;
  padding: 4rem 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  font-weight: 600;
  font-size: 1.2rem;
}

.sidebarLogo {
  height: 6rem;
  width: 6rem;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.score h3 {
  margin: 0;
}

.score p {
  font-size: 1.4rem;
  margin: 0;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  .sidebar {
    width: auto;
    height: 80px;
    padding: 0 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar .title {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sidebarLogo {
    height: 4rem;
    width: 4rem;
  }

  .sidebar h1 {
    font-size: 1.4rem;
  }

  .scores {
    flex-direction: row;
  }

  .score {
    gap: 0;
  }

  .score h3 {
    font-size: 1rem;
  }

  .score p {
    font-size: 1.2rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .sidebarLogo {
    height: 2rem;
    width: 2rem;
  }

  .sidebar h1 {
    font-size: 1rem;
  }

  .scores {
    gap: 2rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .sidebar h1 {
    display: none;
  }
}
